h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .semester{
    text-align: center;
  }
  
  .semester-form{
    margin:auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 550px;
    text-align: center;
    
    margin-bottom: 20px;
  }
  .input-field{
    padding-bottom: 15px;
  }
  .input-field input[type=text] {
    float: left;
    padding: 5px;
    margin-left:10px;
  }
  .input-field .credits {
    float: right;
    padding: 5px ;
    margin-right: 10px;
    width: 100px
  }
  .input-field select{
    width: 100px;
    padding: 5px; 
  }
  
  .input-field label[for=credit] {
  margin-right: -20px;
  margin-left: 30px;
  }
  
  
  .semester h4{
    font-size: 25px;
    font-weight: 500;
    padding: 4px;
    background-color: #f1f1f1;
  }
  button {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
  }
  
  .gpa {
    height: 100px;
    width: 100px;
    border: none;
    padding: 35px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    border-radius:50%;
  }
  
  .green{
    background-color: #04AA6D;
  }
  
  .red{
    background-color:#B33A3A;
  }